#for {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: 3px solid #f4f3f3;
    /* background-color: #8be0b3; */
    /* background-color: rgb(205, 7, 7); */
    /* Fallback color */
    background-color: rgba(85, 243, 232, 0.71);
    /* Black w/opacity/see-through */
    box-shadow: 0 0 30px 0 rgb(4, 4, 4);
    padding: 10px;
    border-radius: 10px;

}

.bt {
    text-decoration: none;
    color: rgb(2, 0, 0);
}

.ad {
    margin-top: 50px;
    margin-bottom: 20px;
}