#al {
    background-image: url(../Images/12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#for {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: 3px solid #f4f3f3;
    background-color: rgba(82, 134, 125, 0.71);
    box-shadow: 0 0 30px 0 rgb(4, 4, 4);
    padding: 10px;
    border-radius: 10px;

}