.bgg {
    background-image: url(https:images.unsplash.com/photo-1526656001029-20a71b17f7ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YWRtaW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}